<%- include('header.ejs') %>

<div class="page-information-card-container">
	<% if (is_tag() || is_category() || (is_archive() && page.year != undefined)) { %>
		<%- include('information-card.ejs') %>
	<% } else if (page.type == "archives_shuoshuo") { %>
		<% var shuoshuo_count = 0;
		site.posts.sort('date', -1).each(function(post)
		{
			if(post.type == "shuoshuo") {
				shuoshuo_count = shuoshuo_count + 1; 
			} 
		}); %>
		<script>
			$(".page-information-card-container").html(`
			<div class="page-information-card card bg-gradient-secondary shadow-lg border-0">
			<div class="card-body">
			<h3 class="text-black" id="information-title"></h3>
				<p class="text-black mt-3 mb-0 opacity-8">
					<i class="fa fa-quote-left mr-1"></i>
					<%= shuoshuo_count %> 篇说说
				</p>
				</div>
			</div>
			`);
			var typed1 = new Typed('#information-title', {"strings":['说说'],"typeSpeed":70,"loop":false,"showCursor":false});
		</script>
	<% } %>
</div>


<%- include('sidebar.ejs') %>

<div id="primary" class="content-area">
	<main id="main" class="site-main article-list article-list-home" role="main">
		<% if (is_home()) { %>
		<!-- 待定首页顶栏 -->
			<%- include('index.ejs') %>
		<% } %>
		<% if (is_post() || is_page()) { %>
			<%- include('post.ejs') %>
		<% } %>
		<% if (is_archive()) { 
			if (page.year != undefined){ %>
				<%- include('index.ejs') %>
			<%} else {%>
				<%- include('archive.ejs') %>
			<% } %>
		<% } %>
		<% if (is_tag()) { %>
			<%- include('index.ejs') %>
		<% } %>
		<% if (is_category()) { %>
			<%- include('index.ejs') %>
		<% } %>
<%- include('footer.ejs') %>